[submodule "src/src/localization"]
	path = src/src/localization
	url = https://github.com/mit-rss/localization.git
[submodule "src/localization"]
	path = src/localization
	url = https://github.com/mit-rss/localization.git
